{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('TochkaFilms Admin') }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        🎬 TochkaFilms
    </a>
</div>
<div style="font-size: 12px; color: rgba(255,255,255,0.6); margin-top: 5px;">
    Панель управления кинопорталом
</div>
{% endblock %}

{% block nav-global %}{% endblock %}